<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>Bienvenidos a la tarjeta de presentación online!</h1>
</header>
<section>
  <div class="input_area">
    Nombre: <input [(ngModel)]="name" [readonly]="isDisabled" class="input_area">
  </div>
  <img class="avatar" src="http://api.adorable.io/avatars/285/abott@adorable.png">
  <div class="input_area">
    Trabajo: <input [(ngModel)]="position" [readonly]="isDisabled" id="algo" class="input_area">
  </div>
</section>
<footer>
  <button (click)="saveEvent()" class="save_button">{{buttonText}}</button>
  <button (click)="showInformation()">Show Information</button>
  <button (click)="resetInformation()">Reset Information</button>
</footer>

<!-- <router-outlet></router-outlet> -->
